.mini-card {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    max-height: 100vh;
    margin: 0;
    padding: 5%;
}

.min-card-img-top {
    width: 100%;
}

.mini-card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.btn {
    flex: 1;
}

.btn:not(:last-child) {
    margin-right: 8px;
}

.card-text {
    margin-bottom: 1rem;
}