.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.section-container h1 {
    margin: 10px 0;
    font-size: 2.5rem;
    color: #333;
}

.section-container h2 {
    margin: 5px 0;
    font-size: 1.5rem;
    color: #555;
}

.section-container .button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(65, 65, 203);
    color: white;
    border: none;
    border-radius: 10px;
}

.section-container p {
    margin-top: 15px;
    font-size: 1rem;
    color: #777;
}

.section-container p svg {
    margin-left: 5px;
    vertical-align: middle;
}
